/* cabeçalho */
header {
    padding: 0 15px;
}

.botoes {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.botoes .btn {
    font-weight: bold;
    padding: 20px 0;
    margin: 10px 0;
}

/* primeira seção */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    padding: 30px 0;
}

.features img {
    max-width: 60%;
    /* margin: 0 auto; */
}

.features .features-item div {
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

/* segunda seção */
.benefits {
    margin: 30px auto 0;
}

.benefits img {
    width: 80%;
}

/* terceira seção */
.tools .functions {
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.tools {
    padding: 30px 0;
}

.tools .support {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 420px) {
  .tools .support {
    display: none;
   }
}

.tools .support img:not(:nth-child(5)) {
    margin-right: 0px;
}

/* quarta seção */
.download {
    padding: 30px 0 0;
}

.download p {
    width: 70%;
    margin: 15px auto;
}

/* rodape */
footer .container span {
    display: block;
    width: 85%;
    font-size: 12px;
    margin: auto;
}